@model Site01.Models.Contato
@{
    //Layout  = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Palavra - Listagem";
}
@section Scripts{
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/Validation.js"></script>
}

<form method="post" action="/contato/recebercontato">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" name="nome" value="@Model.Nome" class="form-control" id="nome" placeholder="Digite o seu nome">
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" name="email" value="@Model.Email" class="form-control" id="email" placeholder="Digite o seu e-mail">
    </div>
    <div class="form-group">
        <label for="assunto">Assunto</label>
        <input type="text" name="assunto" value="@Model.Assunto" class="form-control" id="assunto" placeholder="Digite o assunto">
    </div>
    <div class="form-group">
        <label for="mensagem">Mensagem</label>
        <textarea name="mensagem" class="form-control" id="mensagem">@Model.Mensagem</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<div class="alert alert-danger" role="alert">@ViewBag.Erro</div>
@ViewBag.Mensagem

